<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>

    <link rel="stylesheet" href="/css/header.css">
</head>

<body>

    <% if (cond) { %>
        <%- include("partials/header2") %>
    <% } else { %>
        <%- include("partials/header") %>
    <% } %>

    <% if (posts.length === 0) { %>

        <div class="empty">
            <h1>No posts yet</h1>
            <p>Be the first to create a blog post!</p>

            <% if (cond) { %>
                <a href="/post">Create Your First Post</a>
            <% } %>
        </div>

    <% } else { %>

        <div class="container">
            <h1>My Blog</h1>
            <a id="newPostBtn" href="/post">New Post</a>
            <ul id="postsList">
                <% posts.forEach(post=> { %>
                    <li>
                        <h2>
                            <%=post.title%>
                        </h2>
                        <small>
                            <%=post.date %>
                        </small>
                        <p>
                            <%=post.content%>
                        </p>
                        <small>By: <%=post.author%> </small>

                        <% if (cond && user === post.author) { %>
                            <a class="edit" href="/edit/<%= post.id %>">Edit</a>
                            <a class="delete" href="/delete/<%= post.id %>">Delete</a>
                        <% }; %>
                    </li>
                <% }); %>
            </ul>
        </div>

    <% } %>

</body>
</html>



